<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/JsAdmin/app.js"></script>
</head>
<body>
    <header class="position-relative">
        <div class="mx-2 navbar navbar-expand-lg navbar-light bg-light fixed-top d-flex justify-content-between" style="z-index:99999;" >
            <a class="navbar-brand d-flex align-items-center" href="@Url.Action("Index","Product")">
                <img src="https://lh3.googleusercontent.com/wAPeTvxh_EwOisF8kMR2L2eOrIOzjfA5AjE28W5asyfGeH85glwrO6zyqL71dCC26R63chADTO7DLOjnqRoXXOAB8t2f4C3QnU6o0BA" alt="Alternate Text" width="50" height="50" />
                <span class="fs-30">Adminator</span>
            </a>            
            <div class="d-flex align-items-center">
                <span>Admin</span>
                <div class="ms-1 rounded-5 bg-danger" style="height:40px;width:40px;"></div>
            </div>
        </div>
    </header>           
    
    <div class="row w-100 position-relative ">
        <div class="col-2 fixed-top mt-5 vh-100 vh-100 bg-light">
            <div class="fs-21 mt-4 bg-light">
                <span class="title">Dashboard</span>
            </div>
            <div class="list-group bg-light">
                <a href="@Url.Action("Index","OrdersAdmin")" class=" text-decoration-none active bg-light">Quản lý đơn hàng</a>
                <a href="@Url.Action("Index","Product")" class="text-decoration-none  active bg-light">Quản lý sản phẩm</a>
                <a href="@Url.Action("Index","Categories")" class="text-decoration-none  active bg-light">Quản lý danh mục</a>
                <a href="@Url.Action("AccoutUser","Accout")" class="text-decoration-none  active bg-light">Quản lý tài khoản</a>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col ms-2"style="margin-top:80px;">
            @RenderBody()
        </div>
    </div>

</body>
</html>
