@model EliseMVC.Models.tblUser
<section class="header-wrapper-end">
    <div class="header-canvas-menu megamenu-content" style="padding-top: 100px;">
        <div class="close-menu"><i class="fa-solid fa-xmark"></i></div>
        <div id="main-Menucontent" class="item-pane menu-list">
            <div class="menu-logo">
                <a href="https://elise.vn/">
                    <img src="https://elise.vn/media/logo/default/logo_color.png" alt="menu logo">
                </a>
            </div>
            <div class="container-menu">
                <ul class="list-menu">
                    <li class="item-menu">Bộ sưu tập</li>
                    <li class="item-menu">Thời trang nữ</li>
                    <li class="item-menu">Phụ kiện</li>
                    <li class="item-menu">Sale up to 50%</li>
                    <li class="item-menu">Elise store</li>
                    <li class="item-menu">Thẻ thành viên</li>
                    <li class="item-menu">Hệ thộng cửa hàng</li>
                    <li class="item-menu">Thông tin</li>
                    <li class="item-menu">ESG Activities</li>
                    <li class="item-menu">May đo đồng phục</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="canvas canvas-customer-login">
        <div class="close"><i class="fa-solid fa-xmark"></i></i></div>
        <div class="canvas-content-wrapper ">
            <div class="title uppercase "><span>Đăng nhập</span></div>
            <div class="create-account ">
                <span>Bạn chưa có tài khoản?</span><a href="@Url.Action("Register","Account")" class="text-des-none-hover">Tạo tài khoản</a>
            </div>
        </div>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form form-login myaccount-form-login" }))
        {
            @Html.AntiForgeryToken()

            <div class="field-control email required">
                @Html.TextBoxFor(m => m.userName, new { @class = "input-text", placeholder = "Địa chỉ email hoặc số điện thoại của bạn", @id = "email" })
                @Html.ValidationMessageFor(m => m.userName)
            </div>

            <div class="field-control password required">
                @Html.PasswordFor(m => m.userPass, new { @class = "input-text", placeholder = "Mật khẩu", @id = "pass" })
                @Html.ValidationMessageFor(m => m.userPass)
            </div>

            <div class="action remind">
                <a href="#" class="underline">Quên mật khẩu?</a>
            </div>

            <div class="field choice mgs-gdpr-checkbox d-flex flex-start" style="margin-top: 10px;">
                <input type="checkbox" id="accept_gdpr" name="accept_gdpr" style="width: 30px; margin-top: 5px;" />
                <label for="accept_gdpr" class="label">
                    <span>
                        Tôi đồng ý Điều kiện - Điều khoản & Chính sách bảo mật của Elise.
                    </span>
                </label>
            </div>

            <div class="actions-toolbar">
                <button type="submit" class="action btn-login uppercase" name="send" id="send2">
                    <span>Đăng nhập</span>
                </button>
            </div>
        }
        <div class="myaccount-socials-login">
            <div class="btn-login-social login-facebook uppercase">
                <a href="#" style="text-decoration: none;">
                    <i class="fab fa-facebook-f"></i><span>
                        Đăng nhập bằng
                        facebook
                    </span>
                </a>
            </div>
            <div class="btn-login-social login-google uppercase">
                <a href="#" style="text-decoration: none;">
                    <i class="fab fa-google-plus-g"></i><span>
                        Đăng nhập bằng
                        google
                    </span>
                </a>
            </div>

        </div>
    </div>
    </div>
    <div class="header-overlay"></div>
</section>